--USE [diy_dev]
GO
/****** Object:  Table [dbo].[Statewide_RA_Factors]    Script Date: 2/13/2026 10:28:24 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Statewide_RA_Factors]') AND type in (N'U'))
DROP TABLE [dbo].[Statewide_RA_Factors]
GO
/****** Object:  Table [dbo].[Statewide_RA_Factors]    Script Date: 2/13/2026 10:28:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statewide_RA_Factors](
	[State] [nvarchar](50) NOT NULL,
	[RA_Adj_Avg_Pre] [float] NOT NULL,
	[Avg_pre] [float] NOT NULL,
	[PLRS] [float] NOT NULL,
	[ARF] [float] NOT NULL,
	[AV] [float] NOT NULL,
	[IDF] [float] NOT NULL,
	[MM] [float] NOT NULL,
	[Market] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Statewide_RA_Factors] ([State], [RA_Adj_Avg_Pre], [Avg_pre], [PLRS], [ARF], [AV], [IDF], [MM], [Market], [Year]) VALUES (N'AK', 636.36, 739.95, 1.412, 1.613, 0.712, 1.043, 275368.2, N'1', 2022)
INSERT [dbo].[Statewide_RA_Factors] ([State], [RA_Adj_Avg_Pre], [Avg_pre], [PLRS], [ARF], [AV], [IDF], [MM], [Market], [Year]) VALUES (N'AL', 661.81, 769.54, 1.924, 1.671, 0.694, 1.03, 2662349.8, N'1', 2022)
INSERT [dbo].[Statewide_RA_Factors] ([State], [RA_Adj_Avg_Pre], [Avg_pre], [PLRS], [ARF], [AV], [IDF], [MM], [Market], [Year]) VALUES (N'AR', 428.85, 498.66, 1.75, 1.488, 0.694, 1.028, 4708393.3, N'1', 2022)
GO
