
/****** Object:  Table [dbo].[RiskScoreFactors]    Script Date: 2/12/2026 12:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
if object_id('dbo.riskscorefactors') is not null
	drop table riskscorefactors

CREATE TABLE [dbo].[RiskScoreFactors](
	[Model] [nvarchar](50) NULL,
	[Variable] [nvarchar](50) NULL,
	[Variable_Used_in_Risk_Score_Formula] [nvarchar](50) NULL,
	[Platinum_Level] [float] NULL,
	[Gold_Level] [float] NULL,
	[Silver_Level] [float] NULL,
	[Bronze_Level] [float] NULL,
	[Catastrophic_Level] [float] NULL,
	[Model_Year] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[RiskScoreFactors] ([Model], [Variable], [Variable_Used_in_Risk_Score_Formula], [Platinum_Level], [Gold_Level], [Silver_Level], [Bronze_Level], [Catastrophic_Level], [Model_Year]) VALUES (N'Adult', N'MAGE_LAST_21_24', N'Yes', 0.128, 0.086, 0.049, 0.02, 0.019, N'2022_DIY_122022')
INSERT [dbo].[RiskScoreFactors] ([Model], [Variable], [Variable_Used_in_Risk_Score_Formula], [Platinum_Level], [Gold_Level], [Silver_Level], [Bronze_Level], [Catastrophic_Level], [Model_Year]) VALUES (N'Adult', N'MAGE_LAST_25_29', N'Yes', 0.128, 0.086, 0.049, 0.019, 0.017, N'2022_DIY_122022')
INSERT [dbo].[RiskScoreFactors] ([Model], [Variable], [Variable_Used_in_Risk_Score_Formula], [Platinum_Level], [Gold_Level], [Silver_Level], [Bronze_Level], [Catastrophic_Level], [Model_Year]) VALUES (N'Adult', N'MAGE_LAST_30_34', N'Yes', 0.159, 0.109, 0.065, 0.029, 0.027, N'2022_DIY_122022')
GO
